<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Proyecto</display-name>
  <servlet>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>controllers.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CrudController</servlet-name>
    <servlet-class>controllers.CrudController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudController</servlet-name>
    <url-pattern>/CrudController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>controllers.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CloseSessionController</servlet-name>
    <servlet-class>controllers.CloseSessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseSessionController</servlet-name>
    <url-pattern>/CloseSessionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLoginController</servlet-name>
    <servlet-class>controllers.UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginController</servlet-name>
    <url-pattern>/UserLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>controllers.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddShopCartController</servlet-name>
    <servlet-class>controllers.AddShopCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShopCartController</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteShopCartController</servlet-name>
    <servlet-class>controllers.DeleteShopCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShopCartController</servlet-name>
    <url-pattern>/DeleteShopCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductsController</servlet-name>
    <servlet-class>controllers.ProductsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsController</servlet-name>
    <url-pattern>/ProductsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RedirectionCart</servlet-name>
    <servlet-class>controllers.RedirectionCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectionCart</servlet-name>
    <url-pattern>/Redirection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AgregarProductoServlet</servlet-name>
    <servlet-class>controllers.AgregarProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgregarProductoServlet</servlet-name>
    <url-pattern>/Agregar</url-pattern>
  </servlet-mapping>
</web-app>